HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store

### Security (절대 커밋 금지) ###ㄴ
.env
*.pem
*.ppk
private_key.txt
secrets/